<launch>
  <include file="$(find dashgo_driver)/launch/demo_imu.launch"/>
  <node name="flashgo_node"          pkg="flashgo"  type="flashgo_node" output="screen">
  <param name="serial_port"         type="string" value="/dev/flashlidar"/>  
  <param name="serial_baudrate"     type="int"    value="230400"/>
  <param name="frame_id"            type="string" value="laser_frame"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  <param name="ignore_array"   type="string" value="" />
  <param name="ignore_value"  type="double"  value="0" />
  </node>

  <include file="$(find dashgo_description)/launch/dashgo_description.launch"/>

 <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser4" 
   args="0.0 0.0 0.2 3.14 3.14  0.0 /base_footprint /laser_frame 40" />

  <include file="$(find dashgo_nav)/launch/include/imu/gmapping.launch"/>

  <include file="$(find dashgo_nav)/launch/include/imu/teb_move_base.launch"/>
<!--
  <include file="$(find world_canvas_server)/launch/world_canvas_server.launch"/>
-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" />
</launch>
